{% if is_granted('ROLE_ADMIN') %}
{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h2>Edit : {{ sugarRecipe.title }}</h2>
    {% endif %}
    <div class="container">
        <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col m8 offset-m2">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="btn_perso" />
                {{ form_end(edit_form) }}
        {% endif %}
                <div class="actions_container">
                    <a href="{{ path('sugarrecipe_index') }}" class="btn_perso btn_actions">Back to the list</a>
            {% if is_granted('ROLE_ADMIN') %}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn_perso btn_actions">
                    {{ form_end(delete_form) }}
            {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% endif %}